@model IEnumerable<Homework.Models.客戶簡覽>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get" action="@Url.Action("Index", "客戶簡覽")">
    <label for="search">Search</label>
    <input type="text" name="search" id="search" />
    <button type="submit">Perform search</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.ActionLink( item.客戶名稱, "Index", "客戶資料" )
            
        </td>
        <td>
            @Html.ActionLink(item.銀行帳戶數量.ToString().Length==0?"0": item.銀行帳戶數量.ToString(), "Index", "客戶銀行資訊")
        </td>
        <td>
            @Html.ActionLink(item.聯絡人數量.ToString().Length == 0 ? "0" : item.聯絡人數量.ToString(), "Index", "客戶聯絡人")
        </td>
    </tr>
}

</table>
