@*@model IEnumerable<Homework.Models.客戶資料>*@
@model IPagedList<Homework.Models.客戶資料>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<form method="get">
    Keyword @Html.TextBox("strKeyword")
    類別: @Html.DropDownList("客戶類別ID", null, htmlAttributes: new { @class = "form-control" })
    <button>Go</button>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
    <button> </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.刪除)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().客戶類別.CustomerType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.統一編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.傳真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.刪除)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.客戶類別.CustomerType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


@*<div class="pager">
    @Html.PagedListPager
    @Html.PagedListPager( Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    Displaying @Model.ItemStart - @Model.ItemEnd of @Model.TotalItemCount item(s)
</div>*@
